@import "../../sass_styles/variables.scss";

.signUpPage {
    width: 100vw;
    height: 100vh;
    padding-right: 16px;
    padding-left: 16px;

    .buttonBackWrapper {
        margin-top: $m1;
        margin-bottom: $m2;
    }

    .pageHeader {
        margin-bottom: $m1;
    }

    .logInNotice {
        color: $textLight1Color;
    }
}
