@import "../../sass_styles/variables.scss";

.button {
    border: 0;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}
.sm {
    height: 4rem;
    border-radius: $radius-sm;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 0.9em;
}

.md {
    height: 4.2rem;
    border-radius: $radius-sm;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 0.9em;
}

.lg {
    height: 4.4rem;
    width: 100%;
    border-radius: $radius-lg;
    font-size: 14px;
}
.white {
    background: white;
    color: black;
}
.primary {
    background: $primaryColor;
    color: $primaryDark1Color;
}
.dark3 {
    background: $primaryDark3Color;
    color: white;
}
