@import "../../sass_styles/variables.scss";

.page {
  width: 100vw;
  height: 100vh;
  padding-right: 16px;
  padding-left: 16px;
}

.navbar {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    height: 44px;
    width: 44px;
  }

  p {
    margin: 1rem 0 0 0;
  }
}

.circuit {
  background-color: $primaryDark2Color;
  padding: 20px 14px;
  border-radius: $radius-lg;

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $m3;

    h5 {
      color: $primaryColor;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;

      p {
        margin: 0;
      }

      .icon {
        height: 22px;
        width: 22px;
        color: $primaryColor;
      }
    }
  }

  .exerciseList {
    margin-bottom: $m3;

    .exercise {
      background-color: $primaryDark1Color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4.4rem;
      padding: 0 10px;
      border-radius: $radius-lg;
      margin-bottom: 6px;

      h5,
      p {
        margin: 0;
      }
    }
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;

      .icon {
        height: 22px;
        width: 22px;
        color: $primaryColor;
      }
    }
  }
}
