@import "../../../../sass_styles/variables.scss";

.circuit {
  background-color: $primaryDark2Color;
  padding: 20px 14px;
  border-radius: $radius-lg;
  margin-bottom: $m2;

  button {
    border: none;
    margin: 0;
    padding: 0;
  }

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $m3;

    h5 {
      color: $primaryColor;
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 105px;

      p {
        margin: 0;
      }

      .icon {
        height: 22px;
        width: 22px;
        color: $primaryColor;
      }
    }
  }

  .exerciseList {
    margin-bottom: $m3;

    .exercise {
      background-color: $primaryDark1Color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4.4rem;
      padding: 0 10px;
      border-radius: $radius-lg;
      margin-bottom: 6px;

      h5,
      p {
        margin: 0;
      }
    }
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 105px;

      .icon {
        height: 22px;
        width: 22px;
        color: $primaryColor;
      }
    }
  }
}
