@import "../../sassStyles/variables.scss";

.loginPage {
    width: 100vw;
    height: 100vh;
    padding-right: 16px;
    padding-left: 16px;

    .buttonBackWrapper {
        margin-top: $m1;
        margin-bottom: $m2;
    }

    .pageHeader {
        margin-bottom: $m3;
    }

    .createAccountNotice {
        margin-bottom: $m1;
        color: $textLight1Color;
    }
}
