@import "./variables";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    /* 1200px / 16px = 75em */
    @media (max-width: $media-lg) {
        font-size: 60%;
    }

    /* 980px / 16px = 61.25em */
    @media (max-width: $media-md) {
        font-size: 58%;
    }

    /* 460px / 16px = 28.75em */
    @media (max-width: $media-sm) {
        font-size: 55%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $textColor;
    background-color: $primaryDark1Color;
    height: 100vh;
    min-height: 100%;
}

#root {
    height: 100%;
}
