// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #ffffff;
$textLight1Color: #757575;
$textDark1Color: #232121;

$primaryColor: #80ed99;
$primaryDark1Color: $textDark1Color;
$primaryDark2Color: #323232;
$primaryDark3Color: #424242;
