@import "../../sass_styles/variables.scss";

.homePage {
  width: 100vw;
  height: 100vh;
  padding-right: 16px;
  padding-left: 16px;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $m2;
  }
}

.nav {
  display: flex;
  margin-top: $m1;
  margin-bottom: $m1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navLogo {
    height: 60px;
    padding: 6px;

    img {
      height: 100%;
    }
  }

  .navProfile {
    color: white;
    width: 60px;
    height: 60px;
  }
}

.addWorkoutButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 13rem;
  height: 4rem;
  left: 242px;
  top: 94px;

  background: #80ed99;
  border-radius: $radius-sm;

  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  white-space: nowrap;
}
